@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Jost&display=swap');

@font-face {
    font-family: Fantasy;
    src: url(./Cranberry\ PERSONAL\ USE\ ONLY!.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Diphylleia', serif;
    font-family: 'Jost', sans-serif;
}

.hero{
    width: 100%;
    height: 100dvh;
    background-image: url(./Fondo.jpg);
}